<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pickleball Leaderboard</title>
</head>

<body>
    <a href="/auth/google">authenticate now!</a><br/>
    <a href="/auth/checklogin">check login</a>
</body>

</html>