<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pickleball Leaderboard</title>
</head>

<body>
    <h2><a href="/auth/google">Authenticate, Pickleball Master!</a><h2/>
</body>

</html>