<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
    <title>Pickleball Leaderboard</title>
    <style>
        a:link, a:visited, a:hover, a:active {
            font-family: 'Luckiest Guy';
            color: '#5213D4';
            text-align: center;
            font-size: 28px
        }
    </style>
</head>

<body>
    <h2><a href="/auth/google"><p>Authenticate, Pickleball Master!</p></a><h2/>
</body>

</html>