<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pickleball Leaderboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Creepster|Indie+Flower|Luckiest+Guy" rel="stylesheet">
    <style>
      body {
        background-color: #7141B7;
      }
    </style>
    <meta name="viewport" content="initial-scale=1" />
    <meta charset="UTF-8" />
</head>

<body>
    ABOUT PAGE
    <div id="app"></div>
    <script>
        window.user = <%- userStr || 'null' %>;
    </script>
    <script src="./bundle/bundle.js"></script>
</body>

</html>